.container {
  width: 100%;
}

.input {
  width: 90%;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 0.5px solid var(--primary-light);
  border-radius: 5px;
}

.input:focus {
  outline: 2px solid var(--primary-main);
}
